*,
*::before,
*::after
	box-sizing: border-box

/* latin-ext */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 300
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 300
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000



body
	background: #af31ef
	width: 100%
	height: 100%
	overflow: hidden

.container
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	margin: 0
	width: 100%
	height: 100%
	background-size: cover
	color: rgb(255, 255, 255)
	box-shadow: 2px 2px 4px 0 rgb(33, 32, 33)
	font-family: sans-serif
	font-size: 0em

.card
	display: inline-block
	width: calc(25%)
	height: calc(100%)
	margin: 0 0 0 0
	border: 2px solid rgb(62, 65, 60)
	font-family: 'Lato', sans-serif
	font-size: 2rem
	text-align: center
	padding: 20px
	&:hover
		transition: background 0.3s ease-in

.first
	@extend .card
	padding: 0
	.top
		padding: 20px
		width: calc(100%)
		height: calc(50%)
		border: 1px solid rgb(62, 65, 60)
		background: rgba(255, 109, 99, 0.9)
		&:hover
			background: rgba(255, 109, 99, 1)
			transition: background 0.3s ease-in
	.bottom
		padding: 20px
		width: calc(100%)
		height: calc(50%)
		border: 1px solid rgb(62, 65, 60)
		background: rgba(67, 157, 224, 0.9)
		&:hover
			background: rgba(67, 157, 224, 1)
			transition: background 0.3s ease-in
.second
	@extend .card
	overflow: hidden
	vertical-align: top
	background: rgba(151, 48, 255, 0.9)
	width: calc(50%)
	.heading
		margin-top: 20px
		font-size: 6.5vw
	.desc
		font-size: 80%
	.links
		margin: 10px 0 0
		img
			width: 5vw
			margin: 0 10px
			cursor: crosshair
			&:hover
				transform: scale(1.4)
				transition: all 0.2s linear
	.cta
		margin: 5vh 0 0
		a
			color: rgb(251, 249, 245)
			text-decoration: none
			font-size: 6vh
			span
				position: relative
				width: auto
				height: auto
				padding: 1vw 1.5vw
				cursor: pointer
				background: rgb(27, 63, 255)
				&:hover
					background: rgb(9, 42, 218)
				box-shadow: 0 2px 4px 0 #373636
.third
	@extend .card
	padding: 0
	overflow: hidden
	vertical-align: top
	.top
		padding: 20px
		width: calc(100%)
		height: calc(50%)
		border: 1px solid rgb(62, 65, 60)
		background: rgba(51, 59, 242, 0.9)
		&:hover
			background: rgba(51, 59, 242, 1)
			transition: background 0.3s ease-in
	.bottom
		padding: 20px
		width: calc(100%)
		height: calc(50%)
		border: 1px solid rgb(62, 65, 60)
		background: rgba(10, 150, 87, 0.9)
		&:hover
			background: rgba(10, 150, 87, 1)
			transition: background 0.3s ease-in


.fadeOut
	animation: fadeOut 1s ease-in

@keyframes fadeOut
	0%
		opacity: 1
		z-index: 999
	100%
		opacity: 0
		z-index: -999

@media screen and (orientation:portrait)
	.container
		column-count: 1
	.card
		display: block
		width: calc(100%)
		height: calc(25%)
	.second
		vertical-align: middle
	.heading
		margin-top: 0 !important
		font-size: 7.5vh !important
	.desc
		font-size: 7vw !important
	.links
		img
			width: 6vh !important
			margin: 0 5px !important
	.cta
		margin: 2vw 0 0 !important
		a
			font-size: 7vw !important
	.second
		height: 50%
	.first, .third
		column-count: 2
		column-gap: 0
	.top, .bottom
		width: calc(100%)
		height: calc(100%) !important
