/* ------------------
    General setting
--------------------*/
body {
    color: #000000;
    background-color: #f5f5f5;
    /* You can select background color */
    /* background-color: #263238; */
    /* background-color: #1e1f38; */
    /* background-color: #cfd8dc; */
    /* background-color: #383231; */
    /* background-color: #ffffff; */
}
.ukie-icons {
    color: #ffffff;
    border-color: #492ca2;
    background-color: #7c4dff;
}
.ukie-icons:hover{
    background-color: #492ca2;
    color: #ffffff;
}
.btn{
    background-color: #f5f5f5;
    color: #000000;
    border-color: #d1d1d1;
}
.btn:hover{
    background-color: #d1d1d1;
    color: #ffffff;
}
.btn-color{
    border-color: #492ca2;
    background-color: #7c4dff;
    color: #ffffff;
}
.btn-color:hover{
    background-color: #492ca2;
    color: #ffffff;
}
.block-grey{
    background-color: #fdfdfd;
    border-color: #dfdfdf;
}
.border-bottom{
    border-bottom-color: #ededed;
}
.border-top {
    border-top-color: #ededed;
}
.border-left {
    border-left-color: #ededed;
}
.border-right {
    border-right-color: #ededed;
}
#wraper{
    border-color: #c6c6c6;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}


/* ------------------
    Home header
--------------------*/
.home-header .foto{
    border-color: #6e6e6e;
}

/* ------------------
    Menu section
--------------------*/
.menu .menu-li .name{
    color: #000000;
}
.menu-style1 .menu-li .foto{
    border-color: #cccccc;
}
.menu-style1 .menu-li .name{
    border-color: #ccc;
    background-color: #f5f5f5;
    color: #222;
}
.menu-style1 .menu-li{
    border-color: #cccccc;
}
.icons-menu-button,
.icons-menu-toggle-button {
    color: #fff;
}
.icons-menu-button:hover,
.icons-menu-toggle-button:hover {
    color: #fff;
}
.icons-menu-button {
    background-color: #7c4dff;
    color: #ffffff;
}
a.icons-menu-button {
    color: #ffffff;
    border-color: #492ca2;
}
a.icons-menu-button:hover,
a.icons-menu-button:focus,
.icons-menu-toggle-button:hover{
    color: #ffffff;
    background-color: #492ca2;
    border-color: #492ca2;
}
.icons-menu-toggle-button {
    background-color: #7c4dff;
    border-color: #492ca2;
}

/* ------------------
    Footer section
--------------------*/
.footer{
    border-top-color: #C6C6C6;
}
.footer a{
    color: #000000;
}
.footer .ukie-icons{
    border-color: #d6d6d6;
    background-color: #f5f5f5;
    color: #d6d6d6;
}
.footer a:hover{
    color: #7c4dff;
}
.footer a:hover .ukie-icons{
    border-color: #492ca2;
    background-color: #7c4dff;
    color: #ffffff;
}
.footer .copyright{
    color: #c5c5c5;
}


/* ------------------
    Home section
--------------------*/
.head{
    border-bottom-color: #C6C6C6;
}

/* ------------------
    Content
--------------------*/
.owl-theme .owl-controls .owl-buttons div {
    background-color: #f5f5f5;
    color: #c8c8c8;
    border-color: #c8c8c8;
}
.owl-theme .owl-controls .owl-buttons div:hover{
    color: #ffffff;
    border-color: #492ca2;
    background-color: #7c4dff;
}

/* ------------------
    Skills section
--------------------*/
.skills .progress-bar{
    background-color: #7c4dff;
    border-color: #492ca2;
}
.skills .progress{
    background-color: #f5f5f5;
    border-color: #dfdfdf;
}
.skills .progress-bar span{
    color: #000000;
    background: #fff;
    border-color: #d6d6d6;
}
.skills .circle-progress-block input{
    border: 1px solid #e3e3e3 !important;
    color: #7c4dff;
}

/* ------------------
    Portfolio
--------------------*/
.portfolio .within {
    border-color: #959595;
}
.portfolio li {
    color: #000000;
    border-color: #dfdfdf;
    background-color: #fcfcfc;
}
.portfolio li:hover{
    border-color: #492ca2;
}
.portfolio li.active{
    border-color: #492ca2;
    color: #ffffff;
    background-color: #7c4dff;
}
.portfolio-item .port-item-cont {
    background: rgba(124, 77, 255, 0.90);
}
.portfolio-item:hover .within, .portfolio-item .within.touch {
    border-color: #492ca2;
}
.portfolio-item .title{
    color: #fff;
}
.portfolio-item .desc{
    color: #fff;
}
.portfolio-item a.view-work {
    background-color: #ffffff;
    color: #000000;
    border-color: #492ca2;
}
.portfolio-item a.view-work:hover{
    background-color: #492ca2;
    color: #ffffff;
}

.podrt-desc {
    background-color: #fff;
    border-color: #959595;
    box-shadow: 0px 0px 50px #D2D2D2;
}
.podrt-desc img {
    border-bottom-color: #959595;
}
.mfp-bg{
    background-color: #ffffff;
}
.mfp-close-btn-in .mfp-close{
    background-color: #fff;
    border-color: #959595;
}


/* ------------------
    Contact
--------------------*/
.contact-form input{
    border-color: #dfdfdf;
}
.contact-form input.error{
    border: 1px solid #d61516;
}
.contact-form input:focus, .contact-form textarea:focus{
    border-color: #492ca2;
}
.contact-form input[type="submit"]{
    border-color: #492ca2;
}
.contact-form .info-message-form{
    background-color: #ffffff;
    border-color: #dfdfdf;
    color: #dfdfdf;
}
.contact-form .info-message-form.error{
    background-color: #ff5151;
    border-color: #d61516;
    color: #ffffff;
}
.contact-form .info-message-form.success{
    background-color: #5bb433;
    border-color: #00690b;
    color: #ffffff;
}
.contact-form textarea{
    border-color: #dfdfdf;
}
.map{
    border-color: #dfdfdf;
}

/* ------------------
    Info
--------------------*/
.info .circle-block .icon{
    color: #7c4dff;
    border-color: #e9e9e9;
}
.info .circle-block:hover .icon{
    border-color: #492ca2;
}
.info .circle-block:hover .name{
    color: #7c4dff;
}

/* ------------------
    Pricing
--------------------*/
.table-pricing .header-pricing{
    border-color: #dfdfdf;
    background-color: #fcfcfc;
}
.table-pricing.best-pricing .header-pricing{
    color: #ffffff;
    background-color: #7c4dff;
    border-color: #492ca2;
}
.table-pricing .price-pricing{
    border-color: #dfdfdf;
}
.table-pricing.best-pricing .price-pricing{
    color: #7c4dff;
}
.table-pricing .properties-pricing li{
    border-color: #dfdfdf;
    border-bottom-color: #f5f5f5;
}
.table-pricing .properties-pricing .arrow-check{
    color: #7c4dff;
}
.table-pricing .footer-pricing{
    border-color: #dfdfdf;
}

/* ------------------
    Blog
--------------------*/
.blog .post{
    border-bottom-color: #ededed;
}
.blog .post .photo{
    border-color: #959595;
}
.blog .post .btn-color-hover:hover{
    color: #ffffff;
    border-color: #492ca2;
    background-color: #7c4dff;
}
.blog .post .txt-quote{
    border-color: #ededed;
    background-color: #fdfdfd;
}
.blog .post .txt-quote:before{
    color: #7c4dff;
}
.post .entry-byline .fa{
    color: #7c4dff;
}
.post .entry-byline a{
    color: #000000;
}
.post .entry-byline .right-border{
    border-right-color: #ededed;
}
.blog .post-pagination{
    border-top-color: #ededed;
}
.blog .post-comments h3{
    border-bottom-color: #ededed;
}
.blog .post-comment-txt{
    border-color: #ededed;
}
.blog .post-comment-txt:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
}
.blog .post-comment-txt:before {
    border-color: rgba(237, 237, 237, 0);
    border-right-color: #ededed;
}
.blog .post-comment-txt .comment-reply-link{
    color: #000000;
}
.blog .post-comment-txt .comment-reply-link:hover{
    color: #7c4dff;
}
.blog .post-comment-txt .comment-reply-link .fa{
    color: #7c4dff;
}
.blog .leave-comment h3{
    border-bottom-color: #ededed;
}
.blog .leave-comment .input-contact{
    border-color: #dfdfdf;
}

/* ------------------
    Widget
--------------------*/
.widget{
    border-color: #ededed;
    background-color: #fdfdfd;
}

.widget li{
    border-top-color: #ededed;
}

.widget_categories li:before {
    color: #7c4dff;
}

.widget a{
    color: #000000;
}
.widget a:hover{
    color: #7c4dff;
}
.widget_tag_cloud .tagcloud a{
    color: #000000;
    border-color: #dfdfdf;
    background-color: #fcfcfc;
}

.widget_tag_cloud .tagcloud a:hover{
    border-color: #492ca2;
    color: #ffffff;
    background-color: #7c4dff;
}
.widget_follow_us li a,
.widget_follow_us li a:hover{
    color: #ffffff;
}
.widget_follow_us .widget-title{
    border-bottom-color: #ededed;
}
.widget-banners .widget-title{
    border-bottom-color: #ededed;
}
.widget-banners .widget-img{
    border-color: #dfdfdf;
}

/* ------------------
    Search
--------------------*/
.head.search-head{
    background-color: #7c4dff;
    border-bottom-color: #492ca2;
}
.head.search-head .search-input{
    background-color: transparent;
    border-bottom-color: #ffffff;
    color: #ffffff;
}
.head.search-head input::-webkit-input-placeholder {
    color: #ffffff;
}
.head.search-head input:-moz-placeholder {
    color: #ffffff;
}
.head.search-head input::-moz-placeholder {
    color: #ffffff;
}
.head.search-head input:-ms-input-placeholder {
    color: #ffffff;
}
.search-text-block{
    border-color: #dfdfdf;
}
.search-text-block .text-grey{
    color: #b4b4b4;
}

/* ------------------
    Pagination
--------------------*/
.pagination .page-numbers{
    border-color: #dfdfdf;
    color: #000000;
}
.pagination .page-numbers.current {
    background-color: #7c4dff;
    border-color: #492ca2;
    color: #fff;
}
.pagination .page-numbers:hover{
    border-color: #492ca2;
}

/* ------------------
    Total numbers
--------------------*/
.total-numbers .iconspace{
    color: #7c4dff;
    border-color: #dfdfdf;
}
.total-numbers .iconspace:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
}
.total-numbers .iconspace:before {
    border-color: rgba(223, 223, 223, 0);
    border-left-color: #dfdfdf;
}

/* ------------------
    Animationload
--------------------*/
.animationload {
    background-color: #ffffff;
}